{{ define "main" }}

<div class="container">

    <!-- Photos -->
    <div class="gallery">
    {{ range sort ($.Site.GetPage "/photos").Pages ".File.Dir" "desc" }}

        {{ $resources := (.Resources.ByType "image") }}
        {{ range (.Params.Photos) }}

            {{ $photo := . }}
            {{ with $resources.GetMatch (.src) }}
            {{ $image := .}}

            {{ $full := .Fit "1200x1200" }}
            {{ $thumbnail := .Fill "640x640 Center" }}

            <a href="#">
                <figure><img loading="lazy" src="{{ $thumbnail.RelPermalink }}" data-full="{{ $full.RelPermalink }}" alt="">
                    <figcaption>
                        <div class="informations">
                            <div class="location">{{ if isset $photo "location" }}{{ $photo.location }}{{ end }}</div>
                            <div class="date">
                            {{ if isset $photo "date" }}
                                {{ index $.Site.Data.monthes  (printf "%s" (dateFormat "1" $photo.date)) }}
                                {{ dateFormat "2006" $photo.date }}
                            {{ end }}
                            </div>
                        </div>
                        <div class="exif">
                            {{- with $image.Exif -}}

                            <ul>
                                {{- with .Tags -}}
                                    <li class="model">{{- if isset . "Model" }}{{ if not (hasPrefix (lower .Model) (lower .Make)) }}{{ .Make }} {{ end }}{{ .Model }}
                                        {{- else }}{{ if isset $image.Params "composite" }}{{ $image.Params.composite }}
                                        {{- else }}Composite Photo{{ end }}{{ end }}</li>
                                    {{- if isset . "LensModel" -}}
                                    <li class="lens">{{- if not (hasPrefix (lower .LensModel) (lower .Make)) }}{{ .LensModel }}
                                        {{- else }}{{ substr .LensModel (len .Make)}}{{ end }}</li>
                                    {{- end }}
                                    {{- with .FocalLength }}<li><strong>Focale</strong> {{ . }}mm</li>{{ end }}
                                    {{- with .ExposureTime }}<li><strong>Vitesse</strong> {{ . }}s</li>{{ end }}
                                    {{- with .FNumber }}<li><strong>Ouverture</strong> f/{{ . }}</li>{{ end }}
                                    {{- with .ISOSpeedRatings }}<li><strong>ISO</strong> {{ . }}</li>{{ end }}
                                {{- end -}}
                            </ul>
                            {{- end -}}

                        </div>
                    </figcaption>
                </figure>
            </a>
            {{ end }}
        {{ end }}
    {{ end }}

    </div>

</div>

<footer>
    <div class="container">
    Ces photos sont soumises à une licence <a href="https://creativecommons.org/licenses/by/4.0/deed.fr">Creative Commons BY</a>
    </div>
</footer>


{{ end }}
