@import "mystagram/normalize";

$color-primary: #4865D9;

body {
    font-family: "Source sans pro";
}

header {
    background: #FFF;
    margin: 0 0 2em;
    line-height: 3.5em;
    border-bottom: 1px solid #EDEDED;
    border-top: 3px solid $color-primary;

    .container {
            display: flex;
            justify-content: space-between;
    }

    .logo {
        letter-spacing: .1em;
        font-weight: 900;

        a {
        font-weight: bold;
        color: $color-primary;
        //text-transform: uppercase;
        text-decoration: none;
        }
    }
}

footer {
    //background: #FFF;
    margin: 2em 0 0;
    padding-bottom: 1em;
    line-height: 3.5em;
    //border-top: 1px solid #EDEDED;
    text-align: center;
    font-size: .9em;
}


body {
    background: #fafafa;
}

a {
    color: $color-primary;
}

figure, img, ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;

  @media (max-width: calc(960px + 2em))  {
    margin: 0 1em;
  }

}

.menu {
    li {
        list-style: none;
        display: inline-block;
    }

    a {
        color : #121212;
        text-decoration: none;
        font-weight: 600;
        letter-spacing: .02em;
        transition: .5s ease all;


        &:hover {
            color: $color-primary;
        }
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;

  @media (max-width: calc(960px + 2em))  {
    grid-gap: .5em;
  }


    a {
        display: block;
        width: 100%;
        height: 100%;
    }
}


.gallery {

    figure {
        position: relative;
        overflow: hidden;

        &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
            background: #F2F2F2;
        }


        &:hover {
            figcaption {
                transition: 1s ease all;
                opacity: 1;
            }


            img {
                transition: 6s linear all;
                transform: scale(1.1);
                //filter: blur(2px);
            }
        }
    }

    figcaption {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(24, 50, 125, .5);
        transition: .8s ease all;
        opacity: 0;

        color: #FFF;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

        .informations {

        }

        .location {
            font-weight: bold;
            font-size: 1.1em;
            letter-spacing: .1em;
            line-height: 1.8;
        }

        .date {
            letter-spacing: .1em;
            font-size: .9em;
        }

        .exif {
            display: none;
        }
    }

    img {
        width: 100%;
        display: block;
        //display: none;
        transition: 1s ease all;
        transform: scale(1);
        filter: blur(0);
          position: absolute;
        width: 100%;
        height: 100%;
    }
}

.content {
    max-width: 30em;
    font-size: 1.1em;
    line-height: 1.4;
}

h1 {
    color: $color-primary;
    font-weight: 600;
}

.basicLightbox {
    background : rgba(#000, .9) !important;

    figure {
        background : #FFF;
        display: flex;
        //padding: 2em;
        //width: 70vw;
        height: 70vh;
        background: Red;




        img {
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: 100%;
            flex-grow: 2;
        }

        figcaption {
            padding: 2em;
            width: 200px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

        }

        .location {
            font-size: 1.2em;
            line-height: 1.5;
            font-weight: 600;
        }

        .date {
            //text-transform: uppercase;

            font-size: .9em;
        }

        .exif {
            margin-top: 2em;
            strong {
                font-weight: 600;
                display: inline-block;
                width: 6em;
            }

            font-size: .8em;
            line-height: 1.5;
            //font-weight: bold;
            //color: rgba(#4865D9, .8);

            .model {
                font-size: 1.1em;
                font-weight: 600;

            }

            .lens {
                margin-bottom: .4em;
                font-style: italic;
            }

            li {
                list-style: none;
            }
        }
    }


}

